<div clas="row">

  <div class="alert alert-success" role="alert" *ngIf="validaCamposrequeridos">
    Debe seleccionar un <strong>Servicio</strong> y una <strong>Cantidad</strong>.
  </div>

<div class="card border-primary mb-12">
  <div class="card-header">
    <h5>Pedido <strong>{{pedido.idPedido}}</strong> - Cliente <strong>{{nombre_cliente}}</strong></h5>
  </div>
  <div class="card-body text-primary">

    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputState">Servicios</label>
          <select id="inputState" class="form-control" name="name_servicios" [(ngModel)]="detallePedido.idServicio" (change)="capturarValorCombo('servicio')">
            <option *ngFor="let item of servicios" value= {{item.idServicio}}>
              {{item.Nombre}} (${{item.precio}})
            </option>
          </select>
       </div>
        <div class="form-group">
          <label >Cantidad</label>
          <select  class="form-control" name="cantidad" [(ngModel)]="detallePedido.cantidad" (change)="capturarValorCombo('cantidad')">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>

          </select>

        </div><!-- fin group -->



      </div>

     <button (click)="guardarDetPedido()" type="submit" class="btn btn-primary mb-2" ><span class="fa fa-plus-square-o"></span> Agregar</button>



    </form>


  </div>
</div>


</div>

<br>

<!-- Grilla Detalle -->
<div clas="row">
  <div class="card border-primary mb-12">
    <div class="card-header">
      <h5 class="text-left"> Detalle del Pedido  <strong>{{pedido.idPedido}}</strong></h5>
      <h4 class="text-right">Total <strong>$ {{totalDetallesPedido.total}}</strong></h4>
    </div>
    <div class="card-body text-primary">

      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cantidad</th>
            <th>Servicio</th>
            <th>Precio Unit.</th>
            <th>Subtotal</th>
            <th>Acciones</th>
          </tr>
        </thead>


        <tbody>
          <tr *ngFor="let det of detalleSDePedido">
            <!-- <th>¿?¿?</th> -->
            <td>{{det.cantidad}}</td>
            <td>{{det.nombre}}</td>
            <td>{{det.precio}}</td>
            <td>{{det.total}}</td>
            <td>
              <!-- -->
              <a  (click)="eliminarDetalle(det.idDetallepedido)" class="btn btn-primary btn-block">
                <span class="fa fa-edit"></span>
                 Eliminar Servicio
              </a>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>


  </div>



