
<div class="card border-primary mb-12">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">

  <!--   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 -->
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre y Apellido</th>
          <th scope="col">Dirección</th>
          <th scope="col">Teléfono</th>
          <th>Acciones</th>
        </tr>
      </thead>


      <tbody>
        <tr *ngFor="let cli of clientes">
          <th>{{cli.idCliente}}</th>
          <td>{{cli.nombrecliente}} {{cli.apellidocliente}}</td>
          <td>{{cli.direccion}}</td>
          <td>{{cli.telefono}}</td>
          <td>
            <a [routerLink]="['/clientes/editar', cli.idCliente]" class="btn btn-primary btn-block">
              <span class="fa fa-edit"></span>
               Generar Pedido
            </a>
          </td>
        </tr>

      </tbody>
    </table>


  </div>
</div>



