<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="ocultarMenu">

  <img src="assets/logo.jpg" alt="" width="100px" height="60px" style="margin-right: 5px;">
  <br>
  <a class="navbar-brand" href="#">Lavanderia Chuavechito</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="cliente"><span class="fa fa-user"></span>  Clientes</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="pedido"><span class="fa fa-star"></span>  Pedidos</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="perfil"><span class=" 	fa fa-vcard-o"></span>  Perfil</a>
      </li>


    </ul>

    <span class="navbar-text">



      <button *ngIf="auth.loggedIn"
              (click)="auth.logout()"
              class="btn btn-outline-danger">
        Cerrar Sesion
      </button>


  </span>

  </div>
</nav>
